<navbar></navbar>
<body>
  <nav class="nav nav-justified fixed-top" id="example">
    <li class="nav-item menu-link">
      <a class="nav-link" href="/drivers#num1">آدرس دفاتر ثبت نام</a>
    </li>
    <li class="nav-item menu-link">
      <a class="nav-link" href="/drivers#num2">ثبت نام</a>
    </li>
    <li class="nav-item menu-link">
      <a class="nav-link" href="/drivers#num3">مدارک مورد نیاز</a>
    </li>
    <li class="nav-item menu-link">
      <a class="nav-link" href="/drivers#num4">از زبان رانندگان</a>
    </li>
  </nav>


    <div class="big-div" data-spy="scroll" data-target="#example" data-offset="0">
      <div class="example" id="num1">
        <img class="snapp-family-img" src="../../assets/img/acqusition.svg" alt="snapp">
        <h3 class="snapp-family" style="color: white">به خانواده اسنپ بپیوندید</h3>
        <h2 class="snapp-eco" style="color: white">به کمک اسنپ به آسانی درآمد بالا کسب کنید</h2>
      </div>
      <p>اسنپ پل ارتباطی میان شما و مسافران در شهرهای اراک، ارومیه، اصفهان، اهواز، بابل، بندرعباس، تبریز، تهران، رشت، ساری، شیراز، قائمشهر، قزوین، قم، کرج و مشهد است . با استفاده ازخودروی خود در ساعات کاری آزادتان، مسافرین اسنپ را به مقصد برسانید و کسب درآمد کنید.</p> 
      <h1 class="h1-title">قرارداد ثبت نام رانندگان در ناوگان اسنپ</h1>
      <p style="text-align: center;">
        <img style="width: 100%; max-width: 730px;" class="contrast" src="../../assets/img/Contract1.jpg" alt="Contract1">
        <img style="width: 100%; max-width: 730px;" src="../../assets/img/Contract2.jpg" alt="Contract2">
      </p>
    <div id="num2">
      <h1 class="h1-title">آدرس دفاتر ثبت نام</h1>
      <div class="address">
        <div class="bold">اراک:</div>
        <ul>
          <li>میدان شریعتی، خیابان شریعتی، ورودی شهرک گردو، ساختمان خلیج فارس، طبقه اول</li>
          <li>ساعات کاری: شنبه تا چهارشنبه ۸:۳۰ تا ۱۸ / پنجشنبه‌ها ۸:۳۰ تا ۱۳</li>
        </ul>
      </div>
      <div class="address">
      <div class="bold">ارومیه:</div>
        <ul>
          <li>چهارراه مخابرات، خیابان برق، روبروی فروشگاه جواهر، کوچه شهید حسن زاده، ساختمان ۱۶، طبقه دوم، واحد یک و دو</li>
          <li>ساعات کاری: شنبه تا چهارشنبه ۸:۳۰ تا ۱۷ /  پنجشنبه‌ها ۸:۳۰ تا ۱۲</li>
        </ul>
      </div>
    </div>
    <div id="num3">
      <h1 class="h1-title">مدارک مورد نیاز</h1>
      <ul class="madarek">
        <li>مدارک شناسایی (کارت ملی و شناسنامه)</li>
        <li>گواهینامه</li>
        <li>گواهی عدم سوء پیشینه کیفری</li>
        <li>مدارک خودرو (کارت خودرو و برگ سبز خودرو)</li>
        <li>بیمه‌نامه معتبر خودرو</li>
        <li>معاینه فنی برای خودروهای مدل پایین‌تر از فروردین ۹۲</li>
        <li>قبض تلفن یا آب یا برق محل سکونت</li>
      </ul>
    </div>
    <div id="num4">
      <h1 class="h1-title">از زبان راننده‌های اسنپ...</h1>
      <div class="pics">
        <div class="pic1">
          <div class="a">
            <img src="../../assets/img/3.png" alt="3">
            <h3>علی یادگاری</h3>
            <h2>همکار اسنپ از خرداد ۹۵، میانگین 126 سفر ماهانه</h2>
            <div>درخواست‌های اسنپ خیلی زیاده همیشه وقتی می‌رسم به مقصد و سفر رو تموم می‌کنم باز هم درخواست جدید میاد و میتونم سفر بعدی رو از همونجا شروع کنم. دیگه لازم نیست یه مسیری رو برگردم تا بتونم مسافر جدید داشته باشم. این باعث میشه در طول روز سفرهای بیشتری داشته باشم و در آمدم هم بیشتر باشه.</div>
          </div>
          </div>
          <div class="pic2">
            <img src="../../assets/img/5.png" alt="5">
            <h3>علی مصطفوی</h3>
            <div>همکار اسنپ از خرداد ۹۴، میانگین 181 سفر ماهانه</div>
            من خودم نرم‌افزار خوندم و وقتی متوجه شدم سیستم اسنپ پیاده‌سازی شده خیلی خوشحال شدم و ازش خوشم اومد. اسنپ هرروز داره پیشرفت میکنه و هرروز بهتر از دیروز میشه. با اسنپ من می‌تونم ساعت کاریم رو خودم انتخاب کنم و برای روزم برنامه ریزی داشته باشم که خیلی مهمه.
          </div>  
      </div>
    </div>
  </div>
</body>
