<navbar></navbar>
<body>
  <img src="../../assets/img/about-us.jpg" alt="about snapp" class="img-about">
  <div class="div-body">
    <h1>درباره ما</h1>
    <p>دنبال یک راه ساده و سریع برای درخواست خودرو هستید؟ اسنپ را از دست ندهید. با اپلیکیشن اسنپ شما تمامی رانندگان اطرافتان را به صورت زنده می‌بینید. فقط کافیست مبدا و مقصدتان را مشخص کرده و درخواست اسنپ دهید تا نزدیک‌ترین خودرو شما را تا مقصد همراهی کند. به وسیله پرداخت آنلاین و اعتباری دیگر نیازی به پول نقد نیست و شما به راحتی می‌توانید هزینه سفر خود را از طریق کارت اعتباری و افزایش اعتبار حساب کاربری خود پرداخت کنید.

      ما در اسنپ با پشتیبانی ۲۴ ساعته حتی در روزهای تعطیل هم شما را تنها نخواهیم گذاشت و تمامی سوالاتتان در سریع‌ترین زمان ممکن پاسخ داده می‌شود. در صورت تمایل به انتقاد یا پیشنهاد غیرتلفنی می‌توانید از صفحه تماس با ما استفاده کنید. در حال حاضر اسنپ در شهرهای تهران، کرج، اصفهان، شیراز، مشهد، قم، تبریز و اهواز فعال است.</p>
  </div>
</body>