body{
    margin-top: 100px;
}
.alert{
    direction: rtl;
    text-align: right;
}
.form1{
    width: 600px;
    text-align: center;
    margin:0 auto;
    direction: rtl;
    height: 400px;
}
.form2{
    width: 600px;
    text-align: center;
    margin:0 auto;
    direction: rtl;
    height: 400px;
    margin-top: -400px;
}
.form{
    margin-top: 20px;
}
.google{
    margin-top: 0px;
    width: 450px;
}
.havent{
    margin-top: 20px;
}
.havent p:hover{
    color: #ffffff;
    cursor: pointer;
}
@media screen and (max-width: 629px){
    form {
        max-width: 300px;
    }
    .google {
        width: 300px;   
    }
}