<navbar></navbar>
<body>
  <img src="../../assets/img/job-opportunity.jpg" alt="job">
  <div class="div-body">
    <div class="texts">
      <h1>شرایط کاری</h1>
      <p>اسنپ جوانگراست و به همین دلیل اعضای آن را جوانانی پر انرژی، پویا، مستعد و حرفه‌ای تشکیل داده. ما همیشه به دنبال افرادی شبیه به خودمان می‌گردیم تا هر روز قوی‌تر از روز قبل پیش برویم. اسنپ به شما موقعیتی را می‌دهد که خود را اثبات کرده و توانایی‌هایتان را گسترش دهید.

        ما از همکاری با افراد خلاق، متعهد، مسلط به تخصص خود و صد البته با اخلاق همیشه استقبال کردیم. بنابراین اگر این خصوصیات را دارید و به دنبال پیشرفت و پیوستن به خانواده اسنپ هستید، زمان را هدر نداده و با ما تماس بگیرید. کافیست رزومه خود را به برای ما بفرستید تا در صورت نیاز به نیروی انسانی در حوزه مربوطه، با شما تماس گرفته شود.
      </p>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="tech">
      <h2 class="team">تیم تکنولوژی</h2><br><br>
      <h3>کارشناس تضمین کیفیت نرم افزار:</h3>
      <p class="explain">ما در جستجوی همکارانی با انگیزه ، خلاق ، دقیق و مسئولیت پذیر هستیم . علاقه به یادگیری و افزایش دانش حرفه ای از جمله مهمترین شرایط جذب نیرو در اسنپ است.</p>
      <h3 class="team">DevOpsEngineer:</h3>
      <p class="explain">ما به منظور چابک سازی فرآیند توسعه و عملیات تیم تکنولوژی، به دنبال جذب افرادی متخصص در حوزه DevOps هستیم.</p>
      <h3 class="team">برنامه نویس ارشد Front-End:</h3>
      <p class="explain">ما برای اجرایی کردن استراتژی بلند پروازانه مان، به دنبال یک برنامه نویس ارشد Front- End هستیم.</p>
      <h3 class="team">مهندس نرم افزار- Back-End:</h3>
      <p class="explain">ما برای انجام فعالیت های سمت سرور اپلیکیشن اسنپ نیاز به یک مهندس نرم افزار داریم.</p>
    </div>
  </div><hr>
</body>