<navbar></navbar>
<body>
  <h1 class="top-head">خوش‌‌سفر باشید و جایزه بگیرید</h1>
  <div class="div-body">
    <div class="each-post">
      <img src="../../assets/img/03_-_Bonrail___insta.jpg" alt="num1">
      <p class="paras">یک خبر خوب برای مسافران خوش‌سفر اسنپ که ترجیح می‌دهند سفرهای بین‌شهری خود را با قطار انجام دهند. اسنپ و بن‌‌ریل، برای خلق تجربه‌ی خوشایند سفر، کمپین مشترکی را به نام #خوش_سفر در نظر گرفته‌اند. اگر قصد سفر به مشهد را دارید، پیشنهاد می‌کنیم بلیت قطار خود را از بن‌ریل تهیه کنید. شاید شما مسافر…</p>
      <button class="btn btn-outline-dark counti">ادامه مطلب</button>
    </div>  
    <h1 class="top-head">شبیه‌سازی تجربه‌ی سقوط آزاد از هواپیما</h1>
      <div class="each-post">
      <img src="../../assets/img/na_koja_miri_6_-_blog.jpg" alt="num1">
      <p class="paras">یک خبر خوب برای مسافران خوش‌سفر اسنپ که ترجیح می‌دهند سفرهای بین‌شهری خود را با قطار انجام دهند. اسنپ و بن‌‌ریل، برای خلق تجربه‌ی خوشایند سفر، کمپین مشترکی را به نام #خوش_سفر در نظر گرفته‌اند. اگر قصد سفر به مشهد را دارید، پیشنهاد می‌کنیم بلیت قطار خود را از بن‌ریل تهیه کنید. شاید شما مسافر…</p>
      <button class="btn btn-outline-dark counti">ادامه مطلب</button>
      </div>
      <h1 class="top-head">مسابقه اینستاگرامی:‌۷ <br>بار برو، ۷ بار بیا</h1>
      <div class="each-post">
        <img src="../../assets/img/na_koja_miri_6_-_blog.jpg" alt="num1">
        <p class="paras">یک خبر خوب برای مسافران خوش‌سفر اسنپ که ترجیح می‌دهند سفرهای بین‌شهری خود را با قطار انجام دهند. اسنپ و بن‌‌ریل، برای خلق تجربه‌ی خوشایند سفر، کمپین مشترکی را به نام #خوش_سفر در نظر گرفته‌اند. اگر قصد سفر به مشهد را دارید، پیشنهاد می‌کنیم بلیت قطار خود را از بن‌ریل تهیه کنید. شاید شما مسافر…</p>
        <button class="btn btn-outline-dark counti">ادامه مطلب</button>
      </div>
  </div>
</body>
